<html>
    <body>
        <h1>Predict Upgrading of Credit Cards </h1>
                <form action = "http://127.0.0.1:5000/" method = "post">
                    <p> Please enter the purchase number : </p>
                    <p> <input type ="number", step = "1" name = "purchases"> </p>
                    <p> Please enter if there is Supp Card : </p>
                    <p><input type ="number", step ="1" name ="suppcard"></p>
                    <p><input type = "submit", value = "Enter"></p>
                </form>
                <P> {{result1}}</P>
                <P> {{result2}}</P>
                <P> {{result3}}</P>
                <P> {{result4}}</P>
                <P> {{result5}}</P>
    </body>
</html>